/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

@font-face {
    font-family: 'Inter-Bold';
    src: url(./fonts/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: 'Inter-Medium';
    src: url(./fonts/Inter_18pt-Medium.ttf);
}

@font-face {
    font-family: 'Inter-Regular';
    src: url(./fonts/Inter_18pt-Regular.ttf);
}

h2{
    font-family: 'Inter-Regular', sans-serif;
    font-weight: 400;
}